
.conntenido {
  width: 100vw;
  height: 20vh;
  background-color: #0b0006;
  display:flex;
  color: white;
  border-top: 17px  rgba(20, 141, 223, 0.4);
  font-family: 'Caveat', cursive;
  font-size: 25px;
}
.HandStatus {
  width: 33%;
}
.handjob {
  height: 30%;
  width: 30%;
}
.handjob:hover{
  height: 35%;
  width:35%;
}
.handjob:active{
  transform: translateY(8px);

}
.btnn{
  background-color: #0b0006;
  border:none;
  box-shadow: 0;
}
.main_character {
  height: 100%;
  width: 35%;
  position:relative;
  right:10vh;
}
.espaciando {
  padding-right: 2vh;
}
.central_contenido {
  width: 99vh;
}



/*Contenido de la barra derecha*/


.Derecha_contenido {
  justify-content: start;
  height: 100%;
  width: 100%;
  background-color: #650139;
  overflow-y: scroll;
  padding:0;
  margin:0;
  border:0;
  z-index: 40;
  font-size: 15px;
  overflow-x: hidden;
}

.Derecha_button {
  background-color: #ea28d9;
  background-image: radial-gradient(circle at center center, #330349, #ea28d9), repeating-radial-gradient(circle at center center, #dcacf1, #d6a5ec, 24px, transparent 38px, transparent 44px);
  background-blend-mode: multiply;
  width: 100%;
  border: none;
  text-align: start;
  color: #f10188;
  font-family: "Ewert", cursive;
  border: 5px ridge #fafafa;
  animation: mostrar 4s ease-out;
}
@keyframes mostrar{
  0%{
    visibility:hidden;
    opacity: 0;
  }
  100%{
    visibility: visible;
    opacity: 1;
  }
}
.Derecha_button:hover{
    color: #fcfcfc;
    opacity: 0.9;
    background-color: #9237e7;
}
.Imagenes_derecha {
  margin-right: 5rem;
}
.Title {
  width: 100%;
  height: 10vh;
}
.Span_title {
  padding:0;
  margin:0;
  border:0;
}
.tam_images{
    height:13vh;
    width:5vw;
    margin-right: 2rem;
}


.subir_level{
  position:fixed;
  animation: pop_corazon 1s ease-out;
  z-index: 9999;
}
.precios{
  display: block;
  position:relative;
  left: 42%;
  bottom:2rem;
  color:rgb(250, 182, 36);
}
