.contenido{
    height:100%;
    width:100%;
    background-color: #0b0006;
}
.computador{
    width:107%;
    height:35rem;
    position:relative;
    right:2vh;
    bottom:3.6vh;
    z-index: 1;
}
.imagenes_compu{
    width:100%;
    height:auto;
    max-height: 30rem;
    position:relative;
    border: 5px ridge #f5e293;
    right:2vh;
}
.fondo_compu{
    width:95%;
    height:auto;
    max-height:54.4vh;
    position:relative;
    left: 8.3vh;
    bottom:68.6vh;
    opacity: 0.8;
    transition: opacity 0.1s;
}
.mensajes{
    position:absolute;
    height:1000px;
    width:1000px;
    z-index: 9999;
    left: 15vh;
    top:20vh;
    font-family: 'Dancing Script', cursive;
    text-align:center;

    

}
h1{
    font-size: 150px;
    color: #fff;
    opacity:0.5
}
