.contenido{
    height:100vh;
    width:100vw;
    background-color: #0b0006;
    display: flex;
}

.imagenes_compu{
    height: 70vh;
    max-width: 80vw;
    padding:0;
    display: flex;
    box-sizing: border-box;
    text-align: center;
}
.contiene_loop{
    width:inherit;
    height:inherit;
    display:flex;
}
.fondo_compu{
    box-sizing: border-box;
    height: inherit;
    width: 80vw;
    position:relative;
    opacity: 0.8;
    transition: opacity 0.1s;
}
/* Margen Bimbo */
.computador{
    height: 71.5vh;
    width: 83vw;
    right:19vw;
    bottom:29vh;
    padding:0;
    margin: 0;
    position:absolute;
    box-sizing: border-box;
    z-index: 10;
}


/* Las imagenes que se están loopeando */

.mensajes{
    position:relative;
    height:auto;
    width:auto;
    z-index: 999;
    right:45vw;
    top:30vh;
    font-size: 10vw;
    font-family: 'Dancing Script', cursive;
    text-align:center;
}
h1{
    font-size: 50%;
    color: #fff;
    opacity:0.5
}

.abajito{
    width: 100vw;
    height: 20vh;
    background-color: #0b0006;
    position:absolute;
    display: flex;
    top:80vh;
    
  }